@import '~vux/src/styles/reset.less';
html,
body {
    height: 100%;
    width: 100%;
    background-color: #000;
    line-height: normal;

}

body {
    font-size: 0.24rem;
}

* {
    box-sizing: border-box;
}

b,
u,
s,
i,
em {
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    display: inline-block;
}

button:focus {
    outline: 0;
}

p,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

input,
textarea {
    outline: none;
    border: none;
}

textarea {
    resize: none;
    overflow: auto;
}
